rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Somente CREATE em sessões
    match /sessions/{docId} {
      allow create: if true;
      allow read, update, delete: if false;
    }

    // Scores: CREATE e READ (ranking); sem updates/deletes
    match /scores/{scoreId} {
      allow create: if true;
      allow read: if true;
      allow update, delete: if false;
    }

    // Bloqueia o resto
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
